
h1,h2 {
  text-align: center;
  color: #B82500;
  font-family: papyrus;
  font-weight: bold;
}
h1 {
  font-size: 65px;
}
#blog {
  position: absolute;
  top: 120px;
  left: 15px;
  width: 80px;
  height: 40px;
}
.button {
 font-size: 20px;
 background: white;
}
.blogbody {
  width: 90%;
  margin: 30px;
  background: white;
}
p {
  font-size: 25px;
}