h1 {
  padding: 10px 70px 10px 70px;
  margin-bottom: 0px;
}

h2 {

   padding: 10px 60px 10px 60px;
   margin-top: 0px;
}
h4 {
  font-family: cursive;
  font-size: 25px;
  color: green;

}

a {
  color: blue;
  border: 2px solid black;
  background-color:red;
}
