h1,h2 {
  text-align: center;
  color: #B82500;
  font-family: papyrus;
  font-weight: bold;
}
h1 {
  font-size: 55px;
}
#blog {
  position: absolute;
  top: 120px;
  left: 15px;
  width: 80px;
  height: 40px;
  opacity: 0.8;
}
#blog:hover {
  top: 110px;
  left: 5px;
  width: 100px;
  height: 55px;
  opacity: 1;
}
.button {
 font-size: 20px;
 background: white;
}
.blogbody {
  width: 90%;
  margin: 30px;
  background: white;
}
p {
  font-size: 20px;
  text-indent: 13px;
  margin-top: 10px;
  margin-right: 6px;
}

pre {
  color: blue;
  font-size: 18px;
}