body {
  background:   #C9D1B2/*#F5E0EB*/;
  background-attachment:
}
h1,h2 {
  text-align: center;
  color: #5C2E00;
  font-family: courier;
  font-weight: bold;
}
h1 {
  font-size: 65px;
}
#blog {
  z-index: 1;
  position: fixed;
  top: 80px;
  left: 5px;
  width: 70px;
  height: 35px;
  font-family: courier;
  font-weight: bold;
}
#blog:hover {
  width: 130px;
  height: 75px;
  opacity: 1;
}
.button {
 font-size: 25px;
}
.button:hover {
  font-size: 40px;
}
.blogbody {
  position: absolute;
  left: 0px;
  width: 100%;
  background:   #F8F4F1;
  border-top: 18px solid #472400;
  padding-bottom: 50px;
  padding-top: 60px;
}
p {
  font-size: 20px;
  text-indent: 13px;
  padding-top: 10px;
  margin-left: 26px;
  margin-right: 26px;
  font-family: tahoma;
  text-align: left;
}

pre {
  position: relative;
  color: #472400;
  font-size: 18px;
  background: white;
  width: 60%;
  padding-top:30px;
  padding-bottom: 20px;
  margin-left: 20px;
  border: 2px solid #472400;
}
